@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 2rem;
  position: relative;
}
*{
  font-family: 'Fira Code', sans-serif;
}

/*
Navbar is positioned sticky.
*/
.navbar {
  position: sticky;
  top: 2rem;
	min-height: 5rem;
  left: 0px;
  display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #D0D0D0;
  border-radius: 1rem;
}

.navbaritem {
  background-color: #2563EB;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.navbarlink:hover {
  background-color: #F59E0B;
}

.navbartitle {
  color: black;
  font-size: 20px;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
  text-decoration: none;
}

/*
Login Page CSS
*/

.login {
  background-color: #E5E7EB;
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  border-radius:25px;
}

.logininput {
  margin: 25px;
}

/*
Fail/Success Indicators
*/

.fail {
	border-radius:25px;
	margin:1rem;
	padding: 1rem;
	color: white;
	background-color: #DC2626;
}

.success {
	border-radius:25px;
	margin:1rem;
	padding: 1rem;
	color: white;
	background-color: #059669;
}

.deletebutton {
	border-radius:25px;
	margin:1rem;
	padding: 1rem;
	color: white;
	background-color: #DC2626;
	text-decoration: none;
}

.deletebutton:hover {
	color: #DC2626;
	background-color: white;
	border-style: solid;
	border-color: #DC2626;
}

.usersbox {
	margin: 1rem;
	padding: 1rem;
}

.titlebox {
  background-color: #E5E7EB;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius:25px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	max-width: 500px;
	text-align: center;
	flex-wrap: wrap;
}

.adminbutton {
  background-color: #2563EB;
  color: white;
  font-size: 20px;
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
	margin: 10px;
}

.adminbutton:hover {
  background-color: #F59E0B;
}

.blogtitle {
	color: black;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 10px;
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
}

.blogpage {
  background-color: #E5E7EB;
  margin-top: 1rem;
  margin-bottom: 1rem;
	padding: 1rem;
  border-radius:25px;
}

input[type=text] {
	border-width: 2px;
	outline: none;
	padding: 10px;
	border-radius: 10px;
}

input[type=password] {
	border-width: 2px;
	outline: none;
	padding: 10px;
	border-radius: 10px;
}

input[type=submit] {
  background-color: #2563EB;
	color: white;
	outline: none;
	border-width: 0px;
	padding: 10px;
	border-radius: 10px;
}

input[type=submit]:hover {
  background-color: #F59E0B;
}

textarea {
	border-width: 2px;
	outline: none;
	padding: 10px;
	border-radius: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#markdown_preview {
  background-color: #E5E7EB;
  margin-top: 1rem;
  margin-bottom: 1rem;
	margin-left: 3rem;
	padding: 1rem;
	width: 20rem;
  border-radius:25px;
}
